* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}

.page {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  background-image: url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
  background-size: cover;
}

h1 {
  color: rgb(118, 118, 228);
  font-size: 4rem;
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

button {
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  width: fit-content;
  font-family: 'Odibee Sans', cursive;
  font-size: 2rem;
  background-color: rgb(118, 118, 228);
  color: whitesmoke;
  border: none;
}

.answersForm span {
  margin: 1rem;
  display: block;
}
.scoreboard {
  margin: 2rem;
  font-size: 1.2rem;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
}

.scoreboard span {
  display: block;
}

