* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  color: #e8fbf2;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.8)
    ),
  url(https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60);
  background-size: cover;
}

.page {
  padding: 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  max-width: 50rem;
}

.quizBegin, 
.quizEnd {
  color: #3535ff;
  font-size: 4rem;
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 2px;
}

.quizEnd {
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

button {
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  width: fit-content;
  font-family: 'Odibee Sans', cursive;
  font-size: 2rem;
  background-color: rgb(172, 50, 177);
  color: #e8fbf2;
  border: none;
}

.answersForm span {
  margin: 1rem;
  display: block;
}

.answersForm label {
  margin-left: .5rem;
}

.scoreboard {
  font-size: 1.2rem;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
}

.scoreboard span {
  display: block;
}

.submitAnswer {
  margin-top: 4rem;
}

.finalResponse {
  font-size: 1.5rem;
}


@media only screen and (min-width: 700px) {
  main {
    /* background: purple; */
  }
}